@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geologica);
  --font-mono: var(--font-geist-mono);

  --color-aqua: #1892ea;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px none inset !important;
  -webkit-text-fill-color: #e5e5e5 !important;
  transition: background-color 9999s ease-in-out 0s; /* убираем желтый фон */
}

body {
  @apply bg-black overflow-x-hidden;
  font-family: var(--font-geologica), sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
::placeholder,
pre {
  letter-spacing: -0.06em;
}

body,
html {
  overflow-y: hidden;
}
